{% extends 'appmailsend/base.html' %}
{% block content %}
<div class="col-6">
    <div class="cart">
        <div class="cart-body">

            <p class="card-text"> Время рассылки {{object.time_mailing}} </p>
                <p class="card-text"> Успешная отправка {{object.succes_mail}} </p>
                <p class="card-text"> Ответ сервера {{object.answer}} </p>
                <p class="card-text"> Получатель {{object.client}} </p>
                <p class="card-text"> Создатель {{object.owner}} </p>


        </div>
    </div>
</div>
<!--<div class="col-6">-->
<!--    <div class="cart">-->
<!--        <div class="cart-header">-->
<!--            Version-->
<!--        </div>-->
<!--        <div class="cart-body">-->
<!--            {% for version in object.version_set.all %}-->
<!--                <li>{{ version }}</li>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
{% endblock %}